<md-content flex class="md-content-background" layout-align="center center" layout-padding>
	<div flex="70" layout layout-align="start center">
		<div layout-align="column">
			<md-card flex>
				<img class="user-avatar" src="https://static.sched.org/a5/1912276/avatar.jpg.320x320px.jpg?b2f">
				<md-card-title>
					<md-card-title-text layout-align="center center">
						<span class="md-headline"><b>WRITE TITLE</b></span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout-align="center center">
						<p>27th March, 2016</p>
				</md-card-content>
			</md-card>
		</div>
		<div layout-align="column">
			<md-card flex>
				<img class="user-avatar" src="https://static.sched.org/a5/1912276/avatar.jpg.320x320px.jpg?b2f">
				<md-card-title>
					<md-card-title-text layout-align="center center">
						<span class="md-headline"><b>WRITE TITLE</b></span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout-align="center center">
						<p>27th March, 2016</p>
				</md-card-content>
			</md-card>
		</div>

	</div>
	
</md-content>