<md-content layout-fill flex class="md-content-background">
	<div layout layout-align="center">
		<md-card flex-sm="100" flex-gt-sm="70" flex-xs="100" layout="column">
			<md-card-title>
				<md-card-title-text layout-align="center center">
					<span class="md-headline"><b>WRITE TITLE</b></span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout-align="center center">
				<div>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
					<p>{{dummyWrite}}</p>
				</div>
			</md-card-content>

			<md-divider></md-divider>

			<md-button class="md-primary" aria-label="description">content</md-button>
		</md-card>
	</div>
</md-content>