<md-content flex class="md-content-background">
	<div layout layout-align="center">
		<md-card flex-sm="100" flex-gt-sm="70" flex-xs="100">
			<md-list>
				<md-list-item class="md-2-line" ng-repeat="item in listContent" ng-click="null" ui-sref="read">
					<div class="md-list-item-text" layout="row">
						<div class="md-tile-left inset">
							<img class="user-avatar" src="https://static.sched.org/a5/1912276/avatar.jpg.320x320px.jpg?b2f">
						</div>
						<div class="md-tile-content" layout="column">
							<span>Find the rage</span>
							<p>{{item.name}} <i>24th August, 2016</i></p>
						</div>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
			<md-button class="md-primary" aria-label="Load more">
				Load more
			</md-button>
		</md-card>
	</div>
</md-content>
<md-fab-speed-dial ng-cloak="" md-direction="up" class="md-fling md-fab-bottom-right">
	<md-fab-trigger>
		<md-button aria-label="menu" class="md-fab md-success">
			<md-icon md-svg-src="/dist/imgs/content/svg/design/ic_add_48px.svg"></md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<md-button aria-label="Publish" class="md-fab md-raised md-mini md-primary">
			<md-icon md-svg-src="/dist/imgs/editor/svg/production/ic_publish_48px.svg" aria-label="Publish"></md-icon>
			<md-tooltip md-direction="left">Publish</md-tooltip>
		</md-button>
		<md-button aria-label="Delete" class="md-fab md-raised md-mini md-primary">
			<md-icon md-svg-src="/dist/imgs/action/svg/design/ic_delete_48px.svg" aria-label="Delete"></md-icon>
			<md-tooltip md-direction="left">Delete</md-tooltip>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>