simple-editor {
	[contenteditable="true"]:active, [contenteditable="true"]:focus {
		border:none;
		outline:none;
	}

	// [contenteditable=true]:empty:before {
	// 	content: attr(placeholder);
	// 	display: block; /* For Firefox */
	// }
	
	.simple-editor-heading {
		padding: 20px 10px;
		font-size: 25px;
		text-align: center;
	}

	.simple-editor-toolbar {
		background-color: rgba(256,256,256,0.8);
		position: absolute;
		border-radius: 3px;
		border: #dadada 1px solid;
		z-index: 1;

		button {
			min-width: 50px;
			margin: 0;
			border-radius: 0;
		}
	}
	md-card {
		// position: relative;
		height: 100%;
		outline: none;

		md-card-content {
			font-size: 18px;
			height: 100%;
			line-height: 150%;
		}

		md-card-content div {
			padding: 0px !important;
		}
	}

	

}